header > nav > ul {
  margin-top: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: sticky;
  z-index: 999;
}
header > nav > ul > li {
  font-size: 18px;
  font-weight: 600;
}
header > nav > ul > li > a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}
